@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
}

body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 20rem;
    height: 25rem;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
    background-color: #80CED7;
}

.output{
    grid-column: span 4;
    font-size: 25px;
    color: #13315C;
    text-align: right;
    background-color: #67AAF9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
}

.output > div {
    height: 28px;
}

.span-two{
    grid-column: span 2;
}

button:hover {
    cursor: pointer;
}

button {
    font-weight: bold;
    font-size: 20px;
}

.equals {
    background-color: #06D6A0;
}

.clear {
    background-color: #EF476F;
}

.delete {
    background-color: #FFD166;
}

.operator {
    background-color: #FFD9DA;
}

.disabled {
    pointer-events: none;
}